* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
  --primary-color: rgba(241, 74, 22, 1);
  --theme-primary: black;
  --theme-secondary: white;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.btn-ghost, .btn-primary {
  max-width: 224px;
  min-height: 45px;
  border-radius: 1.4rem;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: 700;
  flex-grow: 1;
}

.btn-primary {
  border: 1px solid transparent;
  color: white;
  background-color: var(--primary-color);
}

.btn-ghost {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2px;
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
}
.btn-ghost__icon-container {
  width: 21px;
  height: 21px;
  margin-bottom: 5px;
}

/*
Header
*/
.header {
  padding: 10px;
  flex-wrap: wrap;
  min-height: 140px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2px;
}
.header__row-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}
.header__row-2 {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.header nav {
  display: inline-block;
}
.header__hamburger-icon-wrapper {
  width: 21px;
  height: 21px;
}
.header__logo-wrapper {
  width: 60px;
  height: 60px;
}
.header__cart-icon-wrapper {
  width: 18px;
  height: 18px;
}
.header__search-bar {
  padding: 0 10px;
  flex-grow: 1;
  border-radius: 50px;
  height: 34px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2px;
}
.header__search-bar:active {
  background-color: red;
}
.header__search-bar__icon-wrapper {
  width: 18px;
  height: 18px;
}
.header__search-bar__input {
  border: none;
  flex-grow: 1;
}
.header__search-bar__input:focus {
  outline: none;
}

.theme {
  min-width: 60px;
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}
.theme__icon {
  width: 17px;
  background-color: red;
}

/* HERO SECTION */
.hero-section {
  min-height: 100vh;
  background-color: grey;
}
.hero-section__content {
  padding: 0 10px;
  max-width: 500px;
}
.hero-section__content__title {
  max-width: 380px;
  color: var(--theme-secondary);
  font-size: 3.5rem;
}
.hero-section__content__title span {
  color: var(--primary-color);
}
.hero-section__content__desc {
  margin-top: 20px;
  font-size: 1.1rem;
  color: rgb(164, 164, 164);
  line-height: 40px;
}
.hero-section__flex-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.hero-section__item-list {
  flex-basis: 250px;
  flex-grow: 0;
  flex-shrink: 0;
  border: 1px solid red;
  max-width: 100vw;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  padding: 20px;
}
.hero-section__card {
  min-height: 200px;
  min-width: 250px;
  background-color: pink;
}
.hero-section__arrow-down-container {
  margin-top: 50px;
  min-height: 100px;
  display: inline- block;
}

/* Popular Trends Section */
.trend {
  background-color: aqua;
}
.trend__title {
  text-align: center;
  font-size: 2.8rem;
  color: var(--theme-secondary);
  margin-bottom: 3 0px;
}
.trend__item-list {
  padding: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background-color: grey;
}

.trend-item-card {
  width: 250px;
  min-height: 465px;
  color: var(--theme-secondary);
  background-image: linear-gradient(0deg, rgb(64, 63, 63), rgb(252, 248, 248));
  border-radius: 50px;
}
.trend-item-card__detail {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
.trend-item-card__title {
  font-weight: 600;
  font-size: 1rem;
}
.trend-item-card__feature {
  padding-left: 30px;
}
.trend-item-card__price {
  color: rgb(252, 153, 24);
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */
