* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
  font-family: sans-serif;
  --primary-color: rgba(241, 74, 22, 1);
  --primary-hover-color: rgb(243, 227, 222);
  --ghost-hover-color: rgb(243, 227, 222);

  --dark-hero-bg-color: radial-gradient(
    circle at left,
    rgb(49, 49, 79),
    rgb(19, 17, 29),
    rgb(25, 1, 27)
  );
  $primary-color: var(--primary-color);
  --theme-primary: black;
  --theme-secondary: white;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Mixins
@mixin flex(
  $flex-direction: row,
  $justify-content: center,
  $align-items: center,
  $gap: 2px
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

.hide {
  display: none;
}
// buttons

.btn-container {
  @include flex($justify-content: start, $gap: 20px);
}

.btn {
  max-width: 224px;
  min-height: 45px;

  border-radius: 1rem;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: 700;
  flex-grow: 1;

  &:hover {
    background-color: var(--hover-color);
    color: white;
  }
  &--primary {
    border: 1px solid transparent;
    color: white;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(241, 74, 22, 0.6),
      0 8px 16px rgba(241, 74, 22, 0.4);
  }

  &--ghost {
    @include flex($justify-content: center, $gap: 5px);
    border: 3px solid var(--primary-color);

    color: var(--primary-color);
    // border-radius: 1.4rem;
    background-color: transparent;

    &__icon-container {
      width: 21px;
      height: 21px;
      margin-bottom: 5px;
    }
  }
}

.list {
  list-style-type: none;
}

/* Card */
.card {
  border-radius: 20px;
  flex-basis: 260px;
  flex-grow: 0;

  &:hover {
    border: 2px solid var(--primary-color);
  }
  color: var(--theme-secondary);
  // border-radius: 10%;

  &__img-wrapper {
    width: 250px;
    height: 210px;
    object-position: center;
    object-fit: cover;
  }
  &__detail {
    background-image: linear-gradient(
      0deg,
      rgb(64, 63, 63),
      rgb(118, 116, 116)
    );
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    padding: 10px 20px;
    @include flex($flex-direction: column, $align-items: start, $gap: 10px);
  }

  &__title {
    font-weight: 600;
    font-size: 1rem;
  }

  &__feature {
    padding-left: 30px;
    font-size: 0.9rem;
  }

  &__price {
    color: rgba(252, 153, 24, 1);
    font-size: 1.2rem;
  }

  &__btn {
    font-size: 0.6rem;
    flex-grow: 1;
    flex-basis: 100px;
  }

  &__btn-container {
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
  }
}

/* item-list  */
.item-list {
  flex-basis: 250px;
  flex-grow: 1;
  flex-shrink: 0;
  list-style-type: none;
  justify-content: start;
  @include flex($gap: 20px, $justify-content: start);
  padding: 20px;
  overflow-x: scroll;
}

/* search bar */
.search-bar {
  padding: 0 10px;
  // flex-grow: 1;
  width: 100%;
  max-width: 400px;
  border-radius: 50px;
  height: 34px;
  background-color: white;
  @include flex($justify-content: start, $align-items: center);

  &:active {
    background-color: red;
  }
  &__icon-wrapper {
    width: 18px;
    height: 18px;
  }

  &__input {
    border: none;
    flex-grow: 1;
    &:focus {
      outline: none;
    }
  }
}
/*
Header
*/
.nav {
  display: inline-block;
  &__links {
    display: none;
  }

  &__link {
    color: var(--theme-secondary);
    text-decoration: none;
    &--active {
      border-bottom: 2px solid var(--primary-color);
    }
  }
}

.header {
  position: absolute;
  width: 100%;
  padding: 0px 10px;
  flex-wrap: wrap;
  min-height: 140px;
  @include flex($flex-direction: column, $justify-content: start);

  &__row {
    width: 100%;
    // align-items: baseline;
  }

  &__row--1 {
    @include flex($justify-content: space-between);
  }

  &__row--2 {
    padding: 0 10px;
    @include flex();
  }

  &__icons-container {
    @include flex($gap: 20px);
    &__search-icon-wrapper {
      display: none;
      width: 21px;
      height: 21px;
    }

    &__cart-icon-wrapper {
      width: 18px;
      height: 18px;
    }
  }

  &__hamburger-icon-wrapper {
    width: 21px;
    height: 21px;
  }

  &__logo-wrapper {
    margin-left: calc(100vw / 5);
    width: 60px;
    height: 60px;
  }

  &__login-btn {
    display: none;
  }

  //   background for hero
  //   background: radial-gradient(
  //     circle,
  //     rgb(27, 56, 90) 32%,
  //     rgb(21, 47, 82) 58%,
  //     rgb(12, 24, 46) 96%
  //   );
}

.theme-toggler {
  position: relative;
  min-width: 50px;
  padding: 5px 0px;
  background-color: black;
  border-radius: 20px;
  @include flex($justify-content: space-between);
  &:hover {
    cursor: pointer;
  }
  &__shade {
    left: 26px;
    position: absolute;
    width: 27px;
    background-color: grey;
    height: 27px;
    border-radius: 50%;
  }

  &__shade:hover {
    background-color: rgb(79, 79, 79);
  }
  &__icon {
    width: 25px;
    height: 20px;
  }
}

body {
  position: relative;
  background-color: var(--theme-primary);
  color: var(--theme-secondary);
}

/* HERO SECTION */
.hero-section {
  min-height: 100vh;
  overflow: hidden;
  background: var(--dark-hero-bg-color);
  // background: radial-gradient(
  //   at center left,
  //   rgb(27, 56, 90) 32%,
  //   rgb(15, 29, 48) 58%,
  //   rgb(28, 19, 79) 80%,
  //   rgb(28, 19, 79) 96%
  // );

  &__content-wrapper {
    @include flex($justify-content: start);
  }

  .hero-img {
    display: none;
  }
  padding-top: 120px;
  &__content {
    //   background for hero

    padding: 0 10px;
    max-width: 340px;
    max-height: 400px;

    &__title {
      color: var(--theme-secondary);
      // font-weight: 700;
      font-size: 2rem;

      span {
        color: var(--primary-color);
      }
    }

    &__desc {
      margin-top: 10px;
      font-size: 0.9rem;
      color: rgba(164, 164, 164, 1);
      line-height: 30px;
      max-height: 300px;
      overflow: hidden;
    }
  }

  &__flex-wrapper {
    height: 50%;

    @include flex($flex-direction: column, $justify-content: center);
    overflow: hidden;
  }

  &__item-list {
    flex-basis: 180px;
    width: 70%;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: flex-end;

    max-width: 100vw;
    list-style-type: none;
    overflow: hidden;
    overflow-x: scroll;
    padding: 20px;
    align-items: flex-end;
  }

  &__card {
    padding: 10px;
    position: relative;
    min-height: 100px;
    min-width: 200px;
    background: linear-gradient(to left, rgb(10, 15, 34), rgb(111, 112, 115));
    border-radius: 20px;

    // &::before {
    //   object-fit: cover;
    //   display: inline-block;
    //   width: 50px;
    //   height: 50px;
    //   left: 0;
    //   top: 0;
    //   transform: translate(40%, -60%);
    //   position: absolute;
    //   content: url("../img/read-headphone.png");
    // }

    &__img-wrapper {
      width: 80px;
      left: 30%;
      top: -50%;
      position: absolute;
    }

    &__details {
      position: absolute;
      bottom: 10px;
      left: 10px;

      &__title {
        color: white;
        margin-bottom: 5px;
      }
      &__price {
        margin-left: 10px;
        @include flex($justify-content: start, $gap: 10px);

        &--discounted {
          color: orange;
        }

        &--actual {
          text-decoration: line-through;
          font-size: 0.8rem;
        }
      }
    }
  }

  &__arrow-down-container {
    margin-top: 20px;
    min-height: 50px;
    display: inline- block;
    &:hover {
      transform: scale(1.2);
    }
  }

  &__btn-container {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  &__btn {
    padding: 0 15px;
    min-width: 80px;
    flex-basis: 50px;
    font-size: 0.8rem;
  }
}

/* Popular Trends Section */

.trend {
  // background: linear-gradient(180deg, rgb(29, 28, 42), black);
  min-height: 80vh;
  overflow: hidden;
  &__title {
    text-align: center;
    font-size: 2.8rem;
    color: var(--theme-secondary);
    margin-bottom: 3 0px;
  }

  &__item-list {
    overflow-x: scroll;
    align-items: start;
    padding: 10px;
  }

  &__card {
    overflow: hidden;
    flex-shrink: 0;
    flex-basis: 250px;
    border: 2px solid white;
    border-radius: 60px;
  }
}

/* why buy article */
.why-buy {
  @include flex(
    $flex-direction: column,
    $justify-content: start,
    $align-items: center
  );
  border-radius: 20px;
  padding: 20px 10px;
  color: white;
  text-align: center;

  background: linear-gradient(91deg, #370665 0%, #35589a 100%);
  margin: 50px 20px;
  &__title {
    font-size: 1.5rem;
  }

  &__item-list {
    overflow: hidden;
    padding: 0px;
    width: 50%;
    flex-grow: 0;
    gap: 0;
    flex-direction: column;
  }
}

.item {
  padding: 20px 10px;

  @include flex();
  flex-grow: 1;
  flex-wrap: nowrap;
  min-width: 137px;
  &__title {
    font-size: 1.1rem;
    white-space: wrap;
    flex-basis: 100px;
    flex-grow: 1;
  }

  &__icon-wrapper {
    width: 30px;
    height: 30px;
  }
}

/* Exclusive offer */
.exclusive-offer {
  margin: 10px;
  min-height: 100vh;

  &--bg {
    display: none;
  }
  &--sm {
    display: flex;
  }

  @include flex($flex-direction: column);
  &__title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
  }

  &__img-wrapper {
    position: relative;
    width: 290px;
    height: 290px;
    background-color: var(--theme-primary);

    &::before {
      content: url("../img/offer.png");
      top: 0;
      left: -20;
      display: block;
      position: absolute;
      background-color: transparent;
    }
  }

  &__detail {
    margin-top: 20px;
    min-width: 280px;
    text-align: center;

    &__title {
      margin-bottom: 20px;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 0.1rem;
    }
  }

  &__btn-container {
    margin-top: 40px;
  }

  &__btn {
    padding: 5px 10px;
    @include flex();
    font-size: 0.8rem;
  }
}

.time-left {
  @include flex($gap: 10px);

  &__value {
    flex-basis: 5 0px;
    flex-grow: 0;

    &__hour {
      background-color: rgba(55, 6, 101, 1);
      padding: 10px;
      font-weight: 700;
      letter-spacing: 0.1rem;
      border-radius: 12px;
      margin-bottom: 5px;
    }

    &__title {
      color: rgba(255, 255, 255, 1);
      font-weight: 400;
    }
  }

  &__title {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }
}

/* other accessories */
.other-accessories {
  text-align: center;
  font-size: 1.5rem;

  &__item-list {
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0;
  }
}

.new-arrivals {
  &__title {
    font-size: 2rem;
    text-align: center;
  }

  &__card {
    background: rgba(55, 6, 101, 1);

    border-radius: 50px;
    border: 3px solid rgba(53, 88, 154, 1);
    overflow: hidden;
    min-width: 250px;

    &__detail {
      border-radius: 0px;
      background-color: rgba(55, 6, 101, 1);
      background-image: none;
    }
  }
}

.qr-and-download-info {
  overflow: hidden;
  margin: 30px 20px;
  @include flex($flex-direction: column, $gap: 10px);
  padding: 20px 10px;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(to left, rgb(76, 79, 169), rgba(55, 6, 101, 1));

  &__about {
    @include flex($flex-direction: column);
    &__images {
      width: 500px;
      flex-grow: 1;
      @include flex($gap: 2px, $flex-direction: column);
    }
  }

  &__title {
    font-size: 1.2rem;
  }

  &__qr-wrapper {
    width: 120px;
    height: 120px;
  }

  &__small-img-wrapper-1 {
    margin-top: 10px;
    width: 110px;
    &:hover {
      transform: scale(1.2);
    }
  }

  &__small-img-wrapper-2 {
    width: 190px;
    &:hover {
      transform: scale(1.2);
    }
  }
}

/*footer */
.footer {
  background-color: rgba(55, 6, 101, 1);
  padding: 24px 24px 5px 24px;
  display: grid;
}

.links {
  margin-top: 20px;
  font-size: 0.9rem;
  &__list {
    color: white;
    font-weight: 400;
    width: 100%;
    li {
      padding: 5px 0px;
    }
    &__link {
      padding: 10px 0;
      text-decoration: none;
      color: rgb(212, 209, 209);

      &--active {
        border-bottom: 1px solid var(--primary-color);
      }
    }

    &__link:hover {
      color: var(--primary-color);
    }
  }
}

.social-medias {
  &__list {
    @include flex($justify-content: start, $gap: 15px);
  }
  &__img-wrapper {
    width: 30px;
    transition: all 0.5s linear;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.news-letter__form {
  @include flex($flex-direction: column, $gap: 10px);
  margin-top: 10px;
  &__btn {
    min-width: 200px;
    padding: 0px 20px;
  }
  &__input {
    color: var(--theme-secondary);
    width: 100%;
    max-width: 300px;
    border: 2px solid var(--primary-color);
    outline: none;
    background-color: transparent;
    border-radius: 15px;
    padding: 10px 20px;
  }
}

.logo {
  width: 225px;
  margin: 0 auto;
}

.rights-reserved {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 700;
}

@media (min-width: 798px) {
  .header {
    justify-content: center;
    &__row--1 {
      max-width: 1200px;
      margin: 0 auto;
      justify-content: flex-end;
      gap: 40px;
    }

    &__row--2 {
      display: none;
    }
    &__hamburger-icon-wrapper {
      display: none;
    }

    &__icons-container {
      order: 1;

      @include flex();
      gap: 20px;
      &__search-icon-wrapper {
        display: block;
        order: 1;
      }

      &__cart-icon-wrapper {
        order: 2;
      }
    }

    &__logo-wrapper {
      width: 120px;
      height: 120px;
      order: 0;
      margin: 0;
      position: absolute;

      left: 35px;
      top: 0;
    }

    &__login-btn {
      display: block;
      order: 1;
      max-width: 100px;
      border: 1px solid var(--primary-color);
    }
  }

  .theme-toggler {
    order: 0;
    margin-right: 60px;
  }

  .nav {
    &__links {
      margin: 0px;
      display: block;
      list-style-type: none;
      @include flex($gap: 20px);
    }
    &__link {
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  nav {
    order: 1;
  }

  /* hero section*/
  .hero-section {
    padding-top: 100px;
    &__content-wrapper {
      @include flex($align-items: center);
      .hero-img {
        display: block;
        width: 60%;
        height: 790px;

        position: relative;
      }
    }
    &__content {
      margin-left: 40px;
      margin-top: 50px;
      max-width: 50%;
      min-height: 350px;
      &__title {
        font-size: 3.5rem;
      }

      &__desc {
        max-height: 100%;
      }
    }
    &__flex-wrapper {
      position: relative;
      top: -100px;
      flex-direction: row-reverse;
    }

    &__btn-container {
      height: 60px;
      justify-content: flex-start;
      align-items: stretch;
    }

    &__btn {
      padding: 10px 15px;
    }

    &__item-list {
      flex-grow: 1;
      min-height: 200px;
    }
    &__arrow-down-container {
      flex-basis: 40%;
      height: auto;

      @include flex();
      &__wrapper {
        width: 60px;
      }
    }

    &__card {
      opacity: 0.7;
    }
  }

  .trend {
    padding-top: 40px;
    &__item-list {
      padding: 20px;
    }
  }

  .why-buy {
    &__item-list {
      width: 100%;
      flex-basis: auto;
      flex-direction: row;
      flex-grow: 1;
      justify-content: center;
      .item {
        // background-color: red;
      }
    }
  }

  .exclusive-offer {
    &--bg {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    &--sm {
      display: none;
    }

    &__img-wrapper {
      flex-basis: 400px;
      flex-shrink: 1;
      height: fit-content;
      animation: offer-animation 2s ease-in-out 0s infinite;
    }
    &__title {
      margin-bottom: 40px;
    }
    &__detail {
      flex-shrink: 1;
      width: 40%;
    }
  }

  .other-accessories {
    &__title {
      font-size: 3rem;
    }
  }

  .qr-and-download-info {
    flex-direction: row;
    align-items: center;

    &__about {
      &__images {
        width: 500px;
        flex-grow: 1;
        flex-direction: row;
      }
    }

    &__small-img-wrapper-1 {
      margin-bottom: 13px;
    }
  }

  .shop {
    grid-area: shop;
  }
  .logo {
    grid-area: logo;
  }
  .support {
    grid-area: support;
  }

  .contact-us {
    grid-area: contact-us;
  }

  .about-us {
    grid-area: about-us;
  }
  .manufactured-by {
    grid-area: mfc-by;
  }
  .social-medias {
    grid-area: social-medias;
  }
  .news-letter {
    text-align: center;
    grid-area: news-letter;
    &__form {
      flex-direction: row;
    }
  }

  .rights-reserved {
    grid-area: rights-reserved;
  }
  .footer > * {
  }
  .footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    grid-template-rows: auto;
    grid-template-areas:
      ". shop support about-us"
      "logo shop support contact-us"
      ". . . mfc-by"
      "news-letter news-letter . social-medias"
      ". rights-reserved rights-reserved .";
  }
}

@media (min-width: 1200px) {
  .exclusive-offer {
    height: 100vh;

    &__title {
      margin-bottom: 80px;
    }
    &__detail {
      background-color: transparent;
    }

    &__btn-container {
      justify-content: center;
    }

    &__btn {
      flex-basis: 250px;
      flex-grow: 0;
      padding: 20px;
    }
  }

  .time-left {
    &__value__info {
      font-size: 2rem;
    }
  }

  .other-accessories {
    &__item-list {
      justify-content: start;
    }
    &__item {
      flex-basis: 40%;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 0;
    }
  }
}

@keyframes offer-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
