* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
  --primary-color: rgba(241, 74, 22, 1);
  --primary-hover-color: rgb(243, 227, 222);
  --ghost-hover-color: rgb(243, 227, 222);
  $primary-color: var(--primary-color);
  --theme-primary: black;
  --theme-secondary: white;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Mixins
@mixin flex(
  $flex-direction: row,
  $justify-content: center,
  $align-items: center,
  $gap: 2px
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

// buttons

.btn-container {
  @include flex($justify-content: start, $gap: 20px);
}

.btn {
  max-width: 224px;
  min-height: 45px;
  border-radius: 1rem;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: 700;
  flex-grow: 1;

  &:hover {
    background-color: var(--hover-color);
    color: white;
  }
  &--primary {
    border: 1px solid transparent;
    color: white;
    background-color: var(--primary-color);
  }

  &--ghost {
    @include flex($justify-content: center, $gap: 5px);
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    // border-radius: 1.4rem;
    background-color: transparent;

    &__icon-container {
      width: 21px;
      height: 21px;
      margin-bottom: 5px;
    }
  }
}

.list {
  list-style-type: none;
}

/* Card */
.card {
  border-radius: 10%;
  flex-basis: 250px;
  flex-grow: 0;

  color: var(--theme-secondary);
  border-radius: 10%;

  &__img-wrapper {
    height: 210px;
  }
  &__detail {
    background-image: linear-gradient(
      0deg,
      rgb(64, 63, 63),
      rgb(118, 116, 116)
    );
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;

    padding: 10px 20px;
    @include flex($flex-direction: column, $align-items: start, $gap: 10px);
  }

  &__title {
    font-weight: 600;
    font-size: 1rem;
  }

  &__feature {
    padding-left: 30px;
  }

  &__price {
    color: rgba(252, 153, 24, 1);
    font-size: 1.2rem;
  }

  &__btn {
    font-size: 0.6rem;
    flex-grow: 0;
    flex-basis: 100px;
  }

  &__btn-container {
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
  }
}

/* item-list  */
.item-list {
  flex-basis: 250px;
  flex-grow: 1;
  flex-shrink: 0;
  list-style-type: none;
  justify-content: start;
  @include flex($gap: 20px, $justify-content: start);
  overflow: hidden;
  padding: 20px;
}

/* search bar */
.search-bar {
  padding: 0 10px;
  // flex-grow: 1;
  width: 100%;
  border-radius: 50px;
  height: 34px;
  background-color: white;
  @include flex($justify-content: start, $align-items: center);

  &:active {
    background-color: red;
  }
  &__icon-wrapper {
    width: 18px;
    height: 18px;
  }

  &__input {
    border: none;
    flex-grow: 1;
    &:focus {
      outline: none;
    }
  }
}
/*
Header
*/

.header {
  position: absolute;
  width: 100%;
  padding: 10px;
  flex-wrap: wrap;
  min-height: 140px;
  @include flex($flex-direction: column, $justify-content: start);

  &__row {
    width: 100%;
    // align-items: baseline;
  }

  &__row--1 {
    @include flex($justify-content: space-between);
  }

  &__row--2 {
    padding: 0 10px;
    @include flex();
  }

  nav {
    display: inline-block;
  }

  &__hamburger-icon-wrapper {
    width: 21px;
    height: 21px;
  }

  &__logo-wrapper {
    margin-left: calc(100vw / 4);
    width: 60px;
    height: 60px;
  }

  &__cart-icon-wrapper {
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
  }

  //   background for hero
  //   background: radial-gradient(
  //     circle,
  //     rgb(27, 56, 90) 32%,
  //     rgb(21, 47, 82) 58%,
  //     rgb(12, 24, 46) 96%
  //   );
}

.theme-toggler {
  position: relative;
  min-width: 50px;
  padding: 5px 0px;
  background-color: black;
  border-radius: 20px;
  @include flex($justify-content: space-between);

  &__shade {
    right: 0;
    position: absolute;
    width: 25px;
    background-color: grey;
    height: 25px;
    border-radius: 50%;
  }

  &__shade:hover {
    background-color: rgb(79, 79, 79);
  }
  &__icon {
    width: 25px;
    height: 20px;
  }
}

body {
  position: relative;
  background-color: var(--theme-primary);
  color: var(--theme-secondary);
}

/* HERO SECTION */
.hero-section {
  min-height: 100vh;
  // background: linear-gradient(40deg, rgb(43, 45, 100), rgb(11, 11, 14));
  background: radial-gradient(
    circle at left,
    rgb(35, 35, 63),
    rgb(30, 28, 44),
    rgb(14, 14, 15)
  );
  padding-top: 140px;
  &__content {
    padding: 0 10px;
    max-width: 500px;
    max-height: 400px;
    &__title {
      max-width: 380px;
      color: var(--theme-secondary);
      // font-weight: 700;
      font-size: 3.5rem;

      span {
        color: var(--primary-color);
      }
    }

    &__desc {
      margin-top: 20px;
      font-size: 1.1rem;
      color: rgba(164, 164, 164, 1);
      line-height: 40px;
      max-height: 100px;
      overflow: hidden;
    }
  }

  &__flex-wrapper {
    margin-top: 20px;
    @include flex($flex-direction: column);
  }

  &__item-list {
    flex-basis: 250px;
    height: 800px;
    flex-grow: 0;
    flex-shrink: 0;
    border: 1px solid red;
    max-width: 100vw;
    list-style-type: none;
    overflow: hidden;
    padding: 20px;
  }

  &__card {
    min-height: 200px;
    min-width: 250px;
    background-color: pink;
  }

  &__arrow-down-container {
    margin-top: 50px;
    min-height: 100px;
    display: inline- block;
  }

  &__btn-container {
    width: 100%;
    justify-content: center;
  }

  &__btn {
    padding: 15px 0;
  }
}

/* Popular Trends Section */

.trend {
  background: linear-gradient(180deg, rgb(29, 28, 42), black);
  overflow: hidden;
  &__title {
    text-align: center;
    font-size: 2.8rem;
    color: var(--theme-secondary);
    margin-bottom: 3 0px;
  }
}

/* why buy article */
.why-buy {
  @include flex(
    $flex-direction: column,
    $justify-content: start,
    $align-items: center
  );
  border-radius: 20px;
  padding: 20px 10px;
  color: white;
  text-align: center;
  border: 1px solid green;
  margin: 10px 20px;
  &__title {
    font-size: 1.5rem;
  }

  &__item-list {
    padding: 0px;
    width: 50%;
    flex-grow: 0;
    gap: 0;
    flex-direction: column;
    border: 1px solid red;
  }
}

.item {
  padding: 20px 10px;

  @include flex();
  flex-grow: 1;
  flex-wrap: nowrap;
  min-width: 137px;
  &__title {
    font-size: 1.1rem;
    white-space: wrap;
    background-color: green;
    flex-basis: 100px;
    flex-grow: 1;
  }

  &__icon-wrapper {
    width: 30px;
    height: 30px;
  }
}

/* Exclusive offer */
.exclusive-offer {
  border: 1px solid orange;
  margin: 10px;
  min-height: 100vh;

  @include flex($flex-direction: column);
  &__title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
    border: 1px solid green;
  }

  &__img-wrapper {
    position: relative;
    width: 290px;
    height: 290px;
    background-color: var(--theme-primary);

    &::before {
      content: url("../img/offer.png");
      top: 0;
      left: -20;
      display: block;
      position: absolute;
      background-color: transparent;
    }
  }

  &__detail {
    margin-top: 20px;
    border: 1px solid blue;
    min-width: 280px;
    text-align: center;

    &__title {
      margin-bottom: 20px;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 0.1rem;
    }
  }

  &__btn-container {
    margin-top: 40px;
  }

  &__btn {
    padding: 5px 10px;
    @include flex();
    font-size: 0.8rem;
  }
}

.time-left {
  border: 1px solid green;
  @include flex($gap: 10px);

  &__value {
    border: 1px solid maroon;
    flex-basis: 5 0px;
    flex-grow: 0;
  }
  &__info {
    padding: 10px;
    background-color: rgba(55, 6, 101, 1);
  }

  &__title {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }
}

/* other accessories */
.other-accessories {
  text-align: center;
  font-size: 1.5rem;

  &__item-list {
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: 700px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0;
  }
}

.new-arrivals {
  &__title {
    font-size: 2rem;
    text-align: center;
  }

  &__card__detail {
    background: rgba(55, 6, 101, 1);
  }
}

.qr-and-download-info {
  margin: 30px 20px;
  @include flex($flex-direction: column, $gap: 10px);
  padding: 20px 10px;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(to left, rgb(76, 79, 169), rgba(55, 6, 101, 1));

  &__about {
    @include flex($flex-direction: column);
  }

  &__title {
    font-size: 1.2rem;
  }

  &__qr-wrapper {
    width: 120px;
    height: 120px;
  }

  &__small-img-wrapper-1 {
    margin-top: 10px;
    width: 110px;
  }

  &__small-img-wrapper-2 {
    width: 190px;
  }
}

/*footer */
.footer {
  background-color: rgba(55, 6, 101, 1);
  padding: 24px 24px 5px 24px;
}

.links {
  margin-top: 20px;
  font-size: 0.9rem;
  @include flex($flex-direction: column, $align-items: start, $gap: 10px);
  &__list {
    color: white;
    font-weight: 400;
    width: 100%;
    li {
      padding: 5px 0px;
    }
    &__link {
      padding: 10px 0;
      text-decoration: none;
      color: rgb(212, 209, 209);
    }

    &__link:hover {
      color: var(--primary-color);
    }
  }
}

.social-medias {
  &__list {
    @include flex($justify-content: start, $gap: 15px);
  }
  &__img-wrapper {
    width: 30px;
    transition: all 0.5s linear;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.news-letter__form {
  @include flex($flex-direction: column, $gap: 10px);
  margin-top: 10px;
  &__btn {
    min-width: 200px;
    padding: 0px 20px;
  }
  &__input {
    width: 100%;
    max-width: 300px;
    border: 2px solid var(--primary-color);
    outline: none;
    background-color: transparent;
    border-radius: 15px;
    padding: 10px 20px;
  }
}

.logo {
  width: 225px;
  margin: 0 auto;
}

.rights-reserved {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 700;
}
